extends layout
block content
    - console.log(data)
    .main-content
    h1 #{heading}
    table(border=1)
        tr
            th Name 
            th Population 
            th Population In Cities 
            th Population Out of Cities 

        for row in data
            tr
                td #{row.name}
                td #{row.Pop}
                td #{row.InCities}
                td #{row.OutCities}